/* Body Styles */
body {
  background-color: rgb(33, 38, 33);
  color: rgb(112, 255, 112);
  font-family: "VT323", monospace;
  font-size: 1.6em;
}

/* Header Styles */
h1 {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  font-weight: 400;
}

/* Nav Styles - commented out until nav is needed
nav {
  display: flex;
  align-items: center;
  justify-content: end;
}

li {
  list-style: none;
} */

/* Main Styles */
h2,
h3 {
  margin-bottom: 0;
  font-weight: 400;
}

a {
  color: rgb(112, 255, 112);
}

a:hover {
  color: rgba(112, 255, 112, 0.75);
}

p {
  text-align: justify;
}

small {
  font-size: 0.8em;
  margin-top: 0.5em;
}

figure {
  margin: 0em;
}

img {
  width: 100%;
  height: auto;
  margin: 0.5em 0em;
}

figcaption {
  font-size: 0.85em;
}

/* Icon Styles */
.icon {
  height: 50px;
  padding: 0.2em;
}

/* Form Styles */
form {
  margin-left: -1em;
  margin-right: -1em;
}

/* Grid Containers Styles */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin: 0 auto 1em;
}

/* Footer Grid Styles */
.foot-1 {
  grid-column: 1 / span-2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.foot-2 {
  grid-column: 1 / span-2;
  grid-row: 2;
  display: flex;
  justify-content: center;
}

/* Responsive Grid Styles */

/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px) {
  .container {
    max-width: 95%;
  }

  /* Header Grid Styles */
  .head-1 {
    grid-column: 1 / span-2;
    grid-row: 1;
  }

  /* Commented out until nav is added
      .head-2 {
        
      }*/

  .main-1 {
    grid-column: 1 / span-2;
    grid-row: 1;
  }

  .main-2 {
    grid-column: 1 / span-2;
    grid-row: 2;
  }

  .main-3 {
    grid-column: 1 / span-2;
    grid-row: 3;
  }

  .main-4 {
    grid-column: 1 / span-2;
    grid-row: 4;
  }

  .main-5 {
    grid-column: 1 / span-2;
    grid-row: 5;
  }

  /* Resizes matrix channel to avoid spillover */
  .matrix-channel {
    font-size: 0.95em;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 95%;
  }

  /* Header Grid Styles */
  /* Span-2 added until nav is added */
  .head-1 {
    grid-column: 1 / span-2;
    grid-row: 1;
  }

  /* Commented out until nav is added
      .head-2 {

      }*/

  .main-1 {
    grid-column: 1 / span-2;
    grid-row: 1;
  }

  .main-2 {
    grid-column: 1 / span-2;
    grid-row: 2;
  }

  .main-3 {
    grid-column: 1;
    grid-row: 3;
  }

  .main-4 {
    grid-column: 2;
    grid-row: 3;
  }

  .main-5 {
    grid-column: 1 / span-2;
    grid-row: 4;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    max-width: 60%;
    margin: 0 auto;
  }
}

/* Sign up form styles */
#mc_embed_signup_scroll #mce-EMAIL {
  background-color: #212621;
  border: 1px solid #70ff70;
  border-radius: 0;
  color: #70ff70;
  font-size: 1em;
}

#mc_embed_signup_scroll #mc-embedded-subscribe {
  background-color: #70ff70;
  border: 1px solid #70ff70;
  border-radius: 0;
  color: #000;
  font-size: 1em;
  width: 100%;
}

#mc_embed_signup_scroll #mc-embedded-subscribe:hover {
  background-color: #70ff70;
  border: 1px solid #70ff70;
  color: #70ff70;
}

#mc_embed_signup_scroll #mce-EMAIL::-webkit-input-placeholder {
  /* Edge */
  color: #70ff70;
}

#mc_embed_signup_scroll #mce-EMAIL:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #70ff70;
}

#mc_embed_signup_scroll #mce-EMAIL::placeholder {
  color: rgb(112, 255, 112);
}
